
<div class="cookies-page body2">


<img class="pattern"src="./img/linin.png">


	<div class="header-position"> <ng-include src="'./templates/headerBar.html'"></ng-include></div></div>


<br><br>



<p class="no-caps">Forage was created in 2016 by Maverick Media as an online community for passionate chefs to collect and share recipes. The fundamental idea behind the app is to spread awareness of preventing food waste as this is an ever growing problem in the world today.<br><br> Unlike any other cooking app Forage encourages  users to optimise the ingredients they would normally discard through our search engine which provides them with recipies. This app is for anybody who would like to cook, whether you are an amateur or a highly trained chef our network is set up to share the creativity of cooking.<br><br>Find your inner chef.<br><br>




</div></div>

<img class="about-shroom " src="./logo/sh2 copy.png">