

<div class="cookies-page body2">

<img class="pattern" src="./img/linin.png">


	<div ng-repeat="recepie in allRecipes" class="rec-timeline">
		<center>

		
			<br><br><br><br><br><br><br>
			<h2 class="title-dish">{{ recepie.name }}</h2>
			
			<br><br><br><br>

			<img class="timeline-img" ng-src="{{recepie.img}}"><br>

			<img class="add-cookbook" src="./img/add2.png">
			<img class="share-rec" src="./img/share2.png">
			
			<br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br>

			<p class="description2">Description:</p><br>
			<p class="description">{{ recepie.ingredients }}<!--<a href="#recipe">--><br>
			<a ng-href="#/rec?id={{recepie.id}}"><br>
				<p class="description3">Click For Recipe</p><br>
			</a>
<br>
			<p class="username">JOliver420</p>

			<br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br>
			<br><br><br><br><br><br><br><br><br><br>

			<img class="mushroom-rating" src="./logo/shoom4.png" >
			<!---<div class="timeline-line"></div>-->

		</center>
	</div>


