

<div class="login-page">
   <div class="input-position">

 <!-- INPUT -->
<center>
 		<div class="input22">
		<div class="container">
		

			<section class="content bgcolor-4">
				
				<span class="input input--chisato">
					<input class="input__field input__field--chisato" type="text" id="input-13">
					<label class="input__label input__label--chisato" for="input-13">
						<span class="input__label-content input__label-content--chisato" data-content="User Name">username</span>
					</label>
				</span><br><br><br><br>
				<span class="input input--chisato">
					<input class="input__field input__field--chisato" type="passwo" id="input-14">
					<label class="input__label input__label--chisato" for="input-14">
						<span class="input__label-content input__label-content--chisato" data-content="Password">password</span>
					</label>




				<a href="#cookies"><h2>login</h2>



				</span>
				</span>

			</section>


</center>

</div>


