<center>
<div class="login-page login-page-background ">



<br><br>
<br><br>

<br><br>




 <section class="login-form-wrap">
  <img src="./img/facebook.png">




  <form class="login-form " action="POST" action="#">
    <label>
      <input class="size-position" type="email" name="email" required placeholder="Email">
    </label><br><br>
    <label>
     <input class="size-position" type="password" name="password" required placeholder="Password">
    </label>

    <a href="#/duk" style="position: relative; top: 400px;">
    <input class="size-position2" type="submit" value="Login">

  </form>
  
</section>


		



				</span>
				</span>

			</section>


</center>

</div>


