

<div id="site-wrapper" class="here">  
<div class="off-nav">
  <div class="container">
    <div class="one-third social">
      <a href="" class="fa fa-twitter"></a>
      <a href="" class="fa fa-github"></a>
      <a href="" class="fa fa-bitbucket"></a>
      <a href="" class="fa fa-instagram"></a>
    </div>
    <div class="one-third">
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse perferendis aliquid aliquam qui repudiandae animi quisquam, atque, sit, harum explicabo ratione. Nostrum cumque et dolorum commodi sed explicabo, laborum ipsam?</p>
    </div>
    <div class="one-third">
    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse perferendis aliquid aliquam qui repudiandae animi quisquam, atque, sit, harum explicabo ratione. Nostrum cumque et dolorum commodi sed explicabo, laborum ipsam?</p>
    </div>
  </div>
</div>
<nav>
  <div class="container">
    <a href="" class="logo">Logo</a>
<!--    <a href="javascript:void(0);" class="toggle-nav nav fa fa-navicon">
    </a>-->
    <div id="hamburger" class="toggle-nav nav">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
</div>







<!--
<div class="body3">
<img class="pattern" src="./img/slate.png">
<button  onclick="goBack()"><img class="hamburger" src="./img/x.png"></button>
<br>



<h2 class="menu-title">

<a href="#/user">Profile<br>
<a href="#/add">Add Recipe<br>
<a href="#/cookies">Dish Of The Day<br>
<a href="#/about">About<br>
<a href="#/index">Log Out<br>
