

<div class="cookies-page body2">


<img class="pattern"src="./img/linin.png">


	<div class="header-position"> <ng-include src="'./templates/headerBar.html'"></ng-include></div>


</div>

<br><br>
<center>
<h1 class="user-name">CarolineArtiss</h1>


<br><br><br>

<img class="pp" src="https://scontent-lht6-1.xx.fbcdn.net/v/t31.0-8/15724920_10154980393678534_8085647814085690741_o.jpg?oh=5591955634ec231d1ee5478eb9f33df6&oe=59173A6D">
<br><br><br><br>

<p class="pd">Caroline Artiss trained as a chef when she was 15, and has been in the food world with over 20 years experience.</p>
<br><br><br><br>

<img class="profile-shroom" src="./logo/sh14.png"></img>

<div class="profile-colour1">


<br><br><br><br>
<center>
<h1 class="title-28" >Recipes</h1><br><br>

  <img class="rec-img" src="http://cdn.jamieoliver.com/recipe-database/430_575/87_mwwAHqdf8uc2sFugLXC.jpg">
<br><br>
<h1 class="title-30">Eggs Benedict<br><br><br>


<br><br>
</div>

<div class="profile-colour2">


<br><br><br><br>

<h1  class="title-28" >Cookbook</h1><br><br>


  <img class="rec-img" src="http://cdn.jamieoliver.com/recipe-database/430_575/CjEXdtRhqQ_8xfq2HfmMZO.jpg">
<br><br>
<h1 class="title-29">Whitebait & Dill mayo<br><br><br><br><br>

<br><br>
</div>

</center>
<br><br><br><br><br>
<h1  class="title-31" >
<br>Recipes Submitted: 7<br><br>
Recipes Rated: 45<br><br>
Best Recipe: Peeking Duck<br><br>
Member Since: 20/04/2017<br><br>
Level: Sous Chef<br><br>

<br><br><br><br>

  <br><a href="#add"><h1 class="add-rec">+ Add Recipie</h1>
  </font>
</a>


</div>

<br><br><br><br>
</center>










<!--
<img class="imgicbizzzz" ng-src="{{ userDetails.img }}">
<h1 class="type1mill">{{ userDetails.username }}</h1>
<img class="edit420" ng-src="./img/edit.png">
<p class="type2mill">{{ userDetails.bio }} <br><br>
<br>

</div>-->



