@font-face {
    font-family: min;
    src: url("./MinionPro-Regular.otf") format("opentype");
}
@font-face {
    font-family: cool;
    src: url("./coolvetica rg.ttf") format("opentype");
}
h1 {
    font-size: 40pt;
    font-family: cool;
    color: #615e5f;
    position: relative;
    top: -10px;
    max-width: 90%;
}
p {
    font-size: 35pt;
    font-family: min;
    color: #615e5f;
    position: relative;
    top: -10px;
    max-width: 90%;
    text-align: left;
}
a {
    font-family: min;
    color: #615e5f;
    position: relative;
    text-decoration: none;
}
body {
    background-color: #f0eee9
}
.logo2 {
    position: relative;
    width: 10%;
    top: 0px;
    left: 250px;
}
.logo565656 {
    position: relative;
    width: 9%;
    left: 250px;
    top: 50px;
}
.icon139 {
    width: 100%;
    height: 600px;
    position: relative;
    top: 15px;
    background-color: #f8edcb;
}
.line291 {
    background: #ddbf5e;
    height: 10px;
    position: relative;
    top: 15px;
    width: 100%;
}
.logo697 {
    position: relative;
    width: 9%;
    left: 286px;
    padding-right: 30px;
    top: -83px;
}
.back33 {
    width: 13%;
    position: relative;
    top: -64px;
    left: 400px;
}
.back567 {
    width: 13%;
    position: relative;
    top: 42px;
    left: -350px;
}
.logo291 {
    position: relative;
    width: 10%;
    top: -80px;
    left: 308px;
}
}
form {
    position: relative;
    top: 0px;
}
input {
    height: 40px;
    background-color: #f0eee9;
    border: none;
    color: #615e5f;
    width: 90%;
}
#text5 {
    font-size: 55px;
    position: relative;
    color: #ddbf5e;
    font-family: cool;
    max-width: 90%;
    text-align: left;
    background-color: #f0eee9;
    padding: 20px;
    width: 90%;
}
#text554 {
    color: #ddbf5e;
    width: 90%;
    height: 60px;
    padding: 36px 36px 60px 35px;
    position: relative;
    top: 10px;
    font-family: cool;
}
.input23 {
    width: 400px;
    height: 40px;
    text-align: left;
    width: 480px;
    color: #615e5f;
    font-family: min;
    font-size: 30pt;
}
.button238945 {
    color: #615e5f;
    padding: 6px 15px 6px 35px;
    position: relative;
    font-family: min;
    font-size: 35px;
    top: 70px;
}
button {
    color: #ddbf5e;
    position: relative;
    font-family: cool;
    font-size: 55px;
}
input {
    font-size: 35pt;
    width: 90%;
    height: 170px;
    font-family: min;
}
.typeic {
    font-size: 65px;
    position: relative;
    color: #ddbf5e;
    font-family: cool;
    max-width: 90%;
    text-align: center;
    margin: 83px;
}
.typeic2 {
    font-size: 45px;
    max-width: 20%;
    position: relative;
    color: #615e5f;
    font-family: min;
    font-style: italic;
    width: 90%;
}
.typeic3 {
    font-size: 50px;
    position: relative;
    text-align: left;
    width: 480px;
    color: #615e5f;
    font-family: min;
    width: 90%;
}
#sum {
    width: 90%;
    position: relative;
    top: -70px;
    height: 600px;
}
#tri2 {
    width: 60% !important;
    position: relative;
    right: -800px;
    top: -96px;
}
#line,
#line2 {
    background: #ddbf5e;
    height: 10px;
    position: relative;
    top: -165px;
}
#line3 {
    background: #615e5f;
    height: 10px;
    position: relative;
    top: -100px;
}
.line676767 {
    background: #ddbf5e;
    height: 10px;
    position: relative;
    top: -120px;
    width: 100%;
}
#line6767672 {
    background: #615e5f;
    height: 10px;
    position: relative;
    top: 230px;
}
#line6767673 {
    background: #f0eee9;
    height: 10px;
    position: relative;
    top: -93px;
    width: 97%;
}
.line6767675 {
    background: #ddbf5e;
    height: 10px;
    position: relative;
    top: -188px;
    width: 100%;
}
.back2 {
    width: 70%;
    position: relative;
    top: 20px;
    left: -300px;
}
.logo {
    position: relative;
    width: 9%;
    left: 230px;
    padding-right: 30px;
}
.logo45 {
    position: relative;
    width: 15%;
    left: 300px;
    padding-right: 30px;
}
.image-upload > input {
    display: none;
    font-size: 35px;
    color: #615e5f;
    font-family: min;
}
#title {
    font-size: 40pt;
    font-family: cool;
    color: #615e5f;
    position: relative;
    top: -200px;
    max-width: 50%;
    text-align: left;
    left: 90px;
}
.title2 {
    font-size: 40pt;
    font-family: cool;
    color: #f0eee9;
    position: relative;
    top: -170px;
    max-width: 90%;
    left: 60px;
    width: 60%
}
#header {
    background-color: #615e5f;
    height: 200px;
}
#menu-panel {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #615e5f;
    color: #f0eee9;
    opacity: 1;
    transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -webkit-transition: opacity .75s ease-in-out;
}
.startInvisible {
    opacity: 0 !important;
}
.bringToTop {
    z-index: 99999999;
}
.back {
    width: 13%;
    position: relative;
    top: -168px;
    left: 680px;
}
.chii {
    text-align: left;
}
.menu-title {
    font-size: 40pt;
    font-family: cool;
    color: #ddbf5e;
    position: relative;
    top: -10px;
    max-width: 90%;
    text-align: left;
}
.logo3 {
    position: relative;
    width: 10%;
    left: 300px
}
.typic4 {
    font-size: 40px!important;
    position: relative;
    text-align: left;
    width: 480px;
    color: #f0eee9;
    font-family: min;
}
.mush {
    position: relative;
    left: 306px;
    width: 470px;
    top: -304px;
}
.leves {
    position: relative;
    top: 0px;
    left: -300px
}
#file-input {
    font-size: 35pt;
    font-family: min;
}
#foot {
    text-align: center;
}
.line {
    background: #ddbf5e;
    height: 10px;
    position: relative;
    top: -145px;
    width: 100%;
}
#bu3 {
    width: 20%;
    position: relative;
    left: -135px;
}
#bu2 {
    width: 20%;
    position: relative;
    left: 720px;
}
.imgic {
    width: 100%;
    position: relative;
    top: -40px;
}
#text2343434345 {
    background: #fff;
    color: #615e5f;
    width: 85%;
    height: 60px;
    padding: 6px 15px 6px 35px;
    border-radius: 10px;
    box-shadow: 0 1px 0 #ccc inset;
    transition: 500ms all ease;
}
.logo690 {
    position: relative;
    width: 10%;
    top: 55px;
    left: 343px;
    padding-right: 30px;
}
.logo6902 {
    position: relative;
    width: 10%;
    top: 55px;
    left: 352px;
}
.logo6903 {
    position: relative;
    width: 10%;
    left: 300px
}
.logo34636363636363636 {
    position: relative;
    width: 10%;
    top: 55px;
    left: 300px;
    padding-right: 30px;
}
.logo346363636363636362 {
    position: relative;
    width: 10%;
    top: 55px;
    left: 300px
}
#text5 {
    background: #f0eee9;
    border-style: solid;
    background: #f0eee9;
    color: #615e5f;
    width: 80%;
    height: 60px;
    padding: 6px 15px 6px 35px;
    border-radius: 10px;
    box-shadow: #f0eee9;
    position: relative;
    left: 30px;
    top: 10px;
    border-color: #615e5f;
}
#lin333 {
    background: #dcbe65;
    height: 10px;
    position: relative;
}
#lin3332 {
    background: #dcbe65;
    height: 10px;
    position: relative;
    top: 230px;
}
#lin3333 {
    background: #dcbe65;
    height: 10px;
    position: relative;
    top: -93px;
    width: 97%;
}
.icon1141 {
    width: 100%;
    height: 500px;
    background-color: #f8edcb;
}
.imgic2456 {
    width: 38.8%;
    position: relative;
    position: relative;
    right: 270px;
    top: 0px;
}
.text567 {
    font-size: 45px;
    position: relative;
    top: -510px;
    left: 195px;
    color: #615e5f;
    font-family: cool;
    max-width: 500px;
    text-align: left;
}
.text5672 {
    font-size: 35px;
    max-width: 20%;
    position: relative;
    top: -531px;
    left: 70px;
    color: #615e5f;
    font-family: min;
    font-style: italic;
    padding: 10px;
}
.text5673 {
    font-size: 40px;
    position: relative;
    top: -632px;
    left: 190px;
    text-align: left;
    width: 480px;
    color: #615e5f;
    font-family: min;
}
#title45,
.title45 {
    font-size: 40pt;
    font-family: cool;
    color: #615e5f;
    position: relative;
    top: -70px;
    max-width: 50%;
    text-align: left;
    left: 50px;
}
.text6978069 {
    font-size: 40px!important;
    position: relative;
    text-align: left;
    width: 480px;
    color: #f0eee9;
    font-family: min;
}
.title455 {
    font-size: 35pt!important;
    font-family: cool;
    color: #f0eee9;
    position: relative;
    right: -20px;
    padding: 30px;
    top: -130px;
    width: 50%;
    text-align: left;
}
.cookr69 {
    position: relative;
    top: -695px;
    width: 13%;
    left: 458px;
}
.share169 {
    position: relative;
    top: -744px;
    width: 7%;
    left: -25px;
}
.share269 {
    position: relative;
    top: -744px;
    width: 7%;
    left: -45px;
}
.cookr459090 {
    position: relative;
    width: 12%!important;
    top: -950px;
    left: 400px;
}
.235757575751 {
    position: relative;
    width: 12%;
    left: 680px;
    top: 50px;
}
.235757575752 {
    position: relative;
    width: 12%;
    left: 80px;
    top: 50px;
}
#headeraa12 {
    background-color: #ddbf5e;
    height: 200px;
}
#buu2 {
    width: 20%;
    position: relative;
    left: 235px;
    top: 100px;
}
#buu3 {
    width: 20%;
    position: relative;
    left: -235px;
    top: 100px;
}
.block {
    background-color: #f0eee9;
    position: relative;
    top: -45px;
}
.cookr {
    position: absolute;
    width: 12%;
    top: 1247px;
    right: 75px;
}
.share1 {
    position: relative;
    width: 12%;
    left: 680px;
}
.share2 {
    position: relative;
    left: 50px;
    width: 12%;
}
#header {
    background-color: #ddbf5e;
    height: 200px;
}
#menu-panel a {
    color: #f0eee9 !important;
}
.cookr459090 {
    position: relative;
    width: 12%!important;
    top: -950px;
    left: 400px;
}
.menu-title {
    font-size: 40pt;
    font-family: cool;
    color: #ddbf5e;
    position: relative;
    top: -10px;
    max-width: 90%;
    text-align: left;
}
.logo3 {
    position: relative;
    width: 10%;
    left: 300px
}
.typic4 {
    font-size: 40px!important;
    position: relative;
    text-align: left;
    width: 480px;
    color: #f0eee9;
    font-family: min;
}
#line3 {
    background: #f0eee9;
    height: 10px;
    position: relative;
    top: -93px;
    width: 97%;
}
.read-more {
    color: #e2cc85;
}
.eb {
    text-align: center;
    font-style: italic;
}
.bd {
    padding: 40px;
    background-color: #f8edcb;
}
.type1 {
    position: relative;
    top: -424px;
    left: 100px;
    width: 50%;
}
.type2 {
    position: relative;
    top: -580px;
    left: 203px;
    width: 50%;
    padding: 40px;
}
.cookr459090 {
    position: relative;
    width: 12%!important;
    top: -950px;
    left: 400px;
}
.235757575751 {
    position: relative;
    width: 12%;
    left: 680px;
    top: 50px;
}
.235757575752 {
    position: relative;
    width: 12%;
    left: 80px;
    top: 50px;
}
#headeraa12 {
    background-color: #ddbf5e;
    height: 200px;
}
.icon1 {
    width: 100%;
    height: 600px;
    position: relative;
    top: 10px;
}
.ratty {
    background-color: ;
    height: 1000px;
    position: relative;
    top: 0px;
}
.imgic238 {
    position: relative;
    width: 100%;
    top: -100px;
}
.imgic {
    width: 38.8%;
    position: relative;
    position: relative;
    right: 270px;
    top: 0px;
    padding-top: 12%;
}
.ad {
    position: relative;
    left: 30px;
}
.menu-title {
    font-size: 40pt;
    font-family: cool;
    color: #ddbf5e;
    position: relative;
    top: -10px;
    max-width: 80%;
    text-align: left;
}
.logo69 {
    position: relative;
    width: 40%;
    top: 20px;
    left: 542px;
}
#line3 {
    background: #f0eee9;
    height: 10px;
    position: relative;
    top: -93px;
    width: 97%;
}
.edit {
    position: relative;
    top: -520px;
    left: 400px;
    width: 6%;
}
.back {
    width: 80%;
    position: relative;
    top: 20px;
    left: -300px;
}
.mush {
    position: relative;
    left: 306px;
    width: 470px;
    top: -304px;
}
#headeraa12 {
    background-color: #ddbf5e;
    height: 200px;
}
.235757575751 {
    position: relative;
    width: 12%;
    left: 680px;
    top: 50px;
}
.235757575752 {
    position: relative;
    width: 12%;
    left: 80px;
    top: 50px;
}
.hizz {
    height: 1700px;
}
.logo {
    position: relative;
    width: 10%;
    top: 55px;
    left: 300px;
    padding-right: 30px;
}
.logo2 {
    position: relative;
    width: 10%;
    top: 55px;
    left: 300px
}
#line {
    background: #f0eee9;
    height: 10px;
}
.mush {
    position: absolute;
    left: 458px;
    width: 465px;
    top: 717px;
}
#title {
    font-size: 40pt;
    font-family: cool;
    color: #ddbf5e;
    ;
    position: relative;
    top: -70px;
    max-width: 50%;
    text-align: left;
    left: 50px;
}
.logo {
    position: relative;
    width: 50%;
    bottom: -1190px;
    right: -511px;
}
.logo2 {
    position: relative;
    width: 41%;
    bottom: -1189px;
    right: 186px;
}
.logo3 {
    position: relative;
    width: 10%;
    bottom: -1079px;
    right: -186px;
}
#lh {
    font-size: 100px;
    color: #ddbf5e;
    position: relative;
    top: 482px;
    left: -64px;
}
#mm {
    position: relative;
    bottom: -460px;
    max-width: 100%;
    left: -40px;
}
.type {
    position: absolute;
    top: -500px;
    padding-left: 10%;
}
.line {
    background: #615e5f;
    height: 10px;
    position: relative;
    top: 314px;
}


/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* home -------------------------- */
.login-page.ng-leave         {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: slideOutLeft 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: slideOutLeft 1s both ease-in;
    transform-origin: 0% 0%;
    animation: slideOutLeft 1s both ease-in;
}
.login-page.ng-enter         {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}


.recipe-page.ng-leave         {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: slideOutLeft 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: slideOutLeft 1s both ease-in;
    transform-origin: 0% 0%;
    animation: slideOutLeft 1s both ease-in;
}
.recipe-page.ng-enter         {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

.cookies-page.ng-leave         {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: slideOutLeft 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: slideOutLeft 1s both ease-in;
    transform-origin: 0% 0%;
    animation: slideOutLeft 1s both ease-in;
}
.cookies-page.ng-enter         {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}

.search-page.ng-leave         {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: slideOutLeft 1s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: slideOutLeft 1s both ease-in;
    transform-origin: 0% 0%;
    animation: slideOutLeft 1s both ease-in;
}
.search-page.ng-enter         {  
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;    
}


/* rotate and fall */
@-webkit-keyframes rotateFall {
    0% { -webkit-transform: rotateZ(0deg); }
    20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
    40% { -webkit-transform: rotateZ(17deg); }
    60% { -webkit-transform: rotateZ(16deg); }
    100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
    0% { -moz-transform: rotateZ(0deg); }
    20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
    40% { -moz-transform: rotateZ(17deg); }
    60% { -moz-transform: rotateZ(16deg); }
    100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
    0% { transform: rotateZ(0deg); }
    20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40% { transform: rotateZ(17deg); }
    60% { transform: rotateZ(16deg); }
    100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
    from        { opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
    from        { opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
    from        { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
    to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
    to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
    to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
