@font-face {
    font-family: min;
    src: url("./MinionPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: cool;
    src: url("./coolvetica rg.ttf") format("opentype");
}

h1 {
    font-size: 40pt;
    font-family: cool;
    color: #615e5f;
    position: relative;
    top: -10px;
    max-width: 90%;
}
p {
    font-size: 35pt;
    font-family: min;
    color: #615e5f;
    position: relative;
    top: -10px;
    max-width: 90%;
    text-align: left;
}
a {
    font-family: min;
    color: #615e5f;
    position: relative;
    text-decoration: none;
}
body {
    background-color: #f0eee9
}
.logo2 {
    position: relative;
    top: 550px;
    width: 30%;
}

.back33 {
       width: 13%;
    position: relative;
    top: -64px;
    left: 400px;
}

form {
    position: relative;
    top: 0px;
}
input {
    height: 40px;
    background-color: #f0eee9;
    border: none;
    color: #615e5f;
    width: 90%;
}
#text5 {
    font-size: 55px;
    position: relative;
    color: #ddbf5e;
    font-family: cool;
    max-width: 90%;
    text-align: left;
    background-color: #f0eee9;
    padding: 20px;
    width: 90%;
}

#text554 {    

    color: #ddbf5e;
    width: 90%;
    height: 60px;
    padding: 36px 36px 36px 35px;
 
    position: relative;

    top: 10px;
    
    font-family: cool; 
}


button {
    color: #ddbf5e;

    position: relative;
    font-family: cool;
    font-size: 55px;
   
}
input {
    font-size: 35pt;
    width: 90%;
    height: 170px;
    font-family: min;
}
.typeic {
    font-size: 45px;
    position: relative;
    top: -540px;

    color: #615e5f;
    font-family: cool;
    max-width: 500px;
    text-align: left;
    width: 90%;
}
.typeic2 {
    font-size: 35px;
    max-width: 20%;
    position: relative;
    top: -570px;
 
    color: #615e5f;
    font-family: min;
    font-style: italic;
    width: 90%;
}
.typeic3 {
    font-size: 40px;
    position: relative;
    top: -690px;
 
    text-align: left;
    width: 480px;
    color: #615e5f;
    font-family: min;
    width: 90%;
}
#sum {
        width: 90%;
    position: relative;
    top: -70px;
    height: 600px;
}


#tri2 {  width: 60% !important;
    position: relative;
    right: -800px;
    top: -96px;
}

#line,
#line2 {
    background: #ddbf5e;
    height: 10px;
    position: relative;
    top: -165px;
}
#line3 {
    background: #615e5f;
    height: 10px;
    position: relative;
    top: -100px;
}
.logo {
    position: relative;
    width: 10%;
    top: 55px;
    left: 270px;
    padding-right: 30px;
}
.logo2 {
    position: relative;
    width: 10%;
    top: 55px;
    left: 300px
}
.logo45 {
    position: relative;
    width: 15%;

    left: 300px;
    padding-right: 30px;
}
.image-upload > input {
    display: none;
    font-size: 35px;
    color: #615e5f;
    font-family: min;
}
#title {
    font-size: 40pt;
    font-family: cool;
    color: #615e5f;
    position: relative;
    top: -200px;
    max-width: 50%;
    text-align: left;
    left: 90px;
}
#header {
    background-color: #615e5f;
    height: 200px;
}
#menu-panel {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #615e5f;
    color: #f0eee9;
    opacity: 1;
    transition: opacity .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out;
    -webkit-transition: opacity .75s ease-in-out;
}
.startInvisible {
    opacity: 0 !important;
}
#menu-panel a {
    color: #f0eee9 !important;
}
.bringToTop {
    z-index: 99999999;
}
.back {
    width: 13%;
    position: relative;
    top: -168px;
    left: 680px;
}


.chii {text-align: left;}

.menu-title {
    font-size: 40pt;
    font-family: cool;
    color: #ddbf5e;
    position: relative;
    top: -10px;
    max-width: 90%;
    text-align: left;
}
.logo3 {
    position: relative;
    width: 10%;
    left: 300px
}
.typic4 {
    font-size: 40px!important;
    position: relative;
    text-align: left;
    width: 480px;
    color: #f0eee9;
    font-family: min;
}
.mush {
    position: relative;
    left: 306px;
    width: 470px;
    top: -304px;
}
.leves {
    position: relative;
    top: 0px;
    left: -300px
}
#file-input {
    font-size: 35pt;
    font-family: min;
}
#foot {text-align: center;}




.line {
    background:#ddbf5e; height: 10px;
    position: relative;
    top: -145px;
    width: 100%;

}



#bu3 {width:20%;
    position: relative;
    left: -135px; }

#bu2 {width:20%; 
    position: relative;
    left: 720px;}



.imgic { width: 100%;
    position: relative;
    top:-40px;

  
    

   }





.logo690  {position: relative; width: 10%;  top: 55px; left: 343px; padding-right: 30px; }

.logo6902 {position: relative; width: 10%;  top: 55px; left: 352px;  }

.logo6903 {position: relative; width: 10%;  left: 300px  }


#text5
{
  background: #f0eee9;
    border-style: solid;
    background: #f0eee9;
    color: #615e5f;
    width: 80%;
    height: 60px;
    padding: 6px 15px 6px 35px;
    border-radius: 10px;
    box-shadow: #f0eee9;
    position: relative;
    left: 30px;
    top: 10px;
    border-color: #615e5f;
}



#lin333 {
  background:#dcbe65; height: 10px;
position: relative;
    top: -50px;

}

#lin3332 {
  background:#dcbe65; height: 10px;
position: relative; top: 230px;

}

#lin3333 {
  background:#dcbe65; height: 10px;
position: relative; top: -93px;
    width: 97%;

}



.icon1141 { width: 100%;
  height: 500px; 
  background-color: #f8edcb;
   
  }


.imgic2456 { width: 38.8%;
    position: relative;

    position: relative;
    right: 270px;
    top: 0px;
    

   }
.text567 {font-size: 45px; position: relative; top:-510px; left: 195px; color: #615e5f; font-family: cool; max-width: 500px; text-align: left;}


.text5672 {    font-size: 35px;
    max-width: 20%;
    position: relative;
    top: -531px;
    left: 70px;
    color: #615e5f;
    font-family: min;
    font-style: italic;
    padding: 10px;}


.text5673 {font-size: 40px; position: relative; top: -632px; left: 190px; text-align: left; width: 480px; color: #615e5f; font-family: min; }
#title45, .title45 {font-size: 40pt; font-family: cool; color: #615e5f; position: relative; top:-70px;
     max-width: 50%; text-align: left; left: 50px; }

.text6978069{font-size: 40px!important; position: relative; text-align: left; width: 480px; color: #f0eee9; font-family: min;}
.title455 {font-size: 35pt!important; font-family: cool; color: #f0eee9; position: relative; right: -20px; padding: 30px; top: -130px;  width: 50%; text-align: left; }

   

.cookr69{    position: relative;
       top: -695px;
    width: 13%;
    left: 458px;}

    .share169{    position: relative;
    top: -744px;
    width: 7%;
    left: -25px;}

.share269 {    
    position: relative;
    top: -744px;
    width: 7%;
    left: -45px;}





#buu2 {width:20%;
    position: relative;
    left: 235px; top:100px;}

#buu3 {width:20%; 
    position: relative;
    left: -235px;top:100px;}



.typeic {font-size: 55px; position: relative;  color: #ddbf5e; font-family: cool; max-width: 90%; text-align: center; padding: 40px; top: 180px;}
.typeic2 {font-size: 35px; max-width: 20%; position: relative; color: #615e5f; font-family: min; font-style: italic; padding: 40px;top: 270px;}
.typeic3 {font-size: 30px; position: relative;  text-align: left; width: 90%; color: #615e5f; font-family: min; padding: 40px;top: 200px;}
.title {font-size: 35pt!important; font-family: cool; color: #615e5f; position: relative; right: -20px; padding: 20px; top: -180px;  max-width: 75%; text-align: left; }
.title2 {font-size: 35pt!important; font-family: cool; color: #f0eee9; position: relative; right: -20px; padding: 20px; top: -180px;  width: 50%; text-align: left; }
.title5 {font-size: 35pt!important; font-family: cool; color: #f0eee9; position: relative; right: -20px; padding: 30px; top: -130px;  width: 50%; text-align: left; }

   .block {background-color: #f0eee9;     position: relative;
    top: -45px;}
   

.cookr{        position: relative;
    width: 12%;
    top: 252px;

    right: -676px;
   }

    .share1{    position: relative;
    
    width: 12%;
       left: 680px;
 top: 50px;}

.share2{    position: relative;

    width: 12%;
   left: 80px; top: 50px;}

#header {background-color: #ddbf5e; height: 200px;}

#menu-panel {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
    background-color: #615e5f;
    color: #f0eee9;


   opacity: 1;

   transition: opacity .75s ease-in-out;
   -moz-transition: opacity .75s ease-in-out;
   -webkit-transition: opacity .75s ease-in-out;
}

.startInvisible {
  opacity: 0 !important;
}

#menu-panel a {
    color: #f0eee9 !important;
}

.bringToTop {
        z-index: 99999999;

}



.menu-title {

font-size: 40pt; font-family: cool; color: #ddbf5e; position: relative;
    top: -10px; max-width: 90%; text-align: left;

}

.logo3 {position: relative; width: 10%;  left: 300px  }

.typic4{font-size: 40px!important; position: relative; text-align: left; width: 480px; color: #f0eee9; font-family: min;}  

#line3 {
  background:#f0eee9; height: 10px;
position: relative; top: -93px;
    width: 97%;

}

.read-more {
  color: #e2cc85;
}
