


 <center>

    <a href="#/search"><img class="logo565656" src="./img/search.png" ></img></a>
 
    <button onclick="goBack()"><img class="back33" src="./img/x2.png"></button>

</center>


<center><br><br><br><br><br><br>
    <div id="line78787"></line></div><br>
</center>
<a href="#/cookies">
    <h1 id="title77">Add Recipe</h1><br><br>
</a>

<center>
<div id="sum">

  <input id="text554" type="text"  name="searchbox" type="text" placeholder="Title eg. Ultimate Grilled Cheese"></imput><br>

  <input id="typeic2" type="text"  name="searchbox" = ''" type="text" placeholder="Ingredients eg. Cheese, Bread, Ham, Bacon..."></imput><br>

  <input id="typeic3" type="text" name="searchbox" type="text" placeholder="Method eg. Set hob to gas mark 5, melt butter in pan..."></imput><br>


<input id="typeic3" type="text" name="searchbox" onfocus="if (this.value=='Discription') this.value = ''" type="text" placeholder="Description eg. A Grilled Cheese like no other, perfect for a winter snack..."></imput><br>
  <div class="image-upload"><center>
      <label for="file-input77">

        
           <br> <img class="logo2343" src="./img/photo.png" id="blah" src="#">

      </label>

      <input id="file-input77" type="file" onchange="readURL(this);"/>
  </div>
<br>

  <button  class="leves"onclick="sendRecipe()"><h1 class="chii"><font color="#ddbf5e">Submit</button><br>
<img class="logo45" src="./logo/sh69.png"></img>






</center>
