<style>

iframe { position: relative;
    right: -750px;
    max-width: 30%;
    top: -150px;}

body {background-color: #f0eee9}

#eed {      position: relative;
    right: -750px;
    max-width: 30%;
    top: -0px; }
 

@font-face {
font-family: min;
src: url("./style/MinionPro-Regular.otf");
}

@font-face {
font-family: cool;
src: url("./style/coolvetica rg.ttf");
}

h1 {    font-size: 55pt;
    font-family: cool;
    color: #615e5f;
    position: relative;
      padding-bottom: 35px;
    max-width: 50%;
    text-align: left;
    top: 0px;
    left: 60px;}

p {font-size: 25pt; font-family: min; color: #615e5f; position: relative;
     max-width: 90%; text-align: left;left: 60px;} 

     #p1 {font-size: 25pt; font-family: min; color: #ddbf5e; position: relative;
     max-width: 90%; text-align: left; font-style: italic;left: 60px;     padding-top: 60px;
    padding-bottom: 50px;}     

a { position: relative;
    text-decoration: none; }

body {
        background-color: #f0eee9
    } 


.line {
    background:#615e5f; 
    height: 10px;
    position: absolute;
    width: 100%;
    top: 1670px;
}

.typooo {position: absolute;}

#mushrroo { position: absolute; right: 35px; top: 1276px;}
.back139139{
width: 13%;
    position: relative;
    top: -1172px;

    left: 370px;}

</style>
<div>
<br class="typooo">
<h1>Did you know?</h1>

<p id="p1">{{ duk.top }}<br>
<p>{{ duk.bottom }}<br>
</div>

<iframe id="mushrroo"src="//giphy.com/embed/MQfFExVuv7IiY" width="120" height="518" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<div class="line"></div>

 <button onclick="goBack()"><img class="back139139" src="./img/x2.png"></button>

</div>