<style>

@font-face {
font-family: min;
src: url("./style/MinionPro-Regular.otf") format("opentype");
}

@font-face {
font-family: cool;
src: url("./style/coolvetica rg.ttf") format("opentype");
}

h1 {font-size: 40pt; font-family: cool; color: #615e5f; position: relative;
    top: -10px; max-width: 90%; text-align: left;}

p {font-size: 40pt; font-family: min; color: #615e5f; position: relative;
     max-width: 90%; text-align: left;}    

a {font-size: 20pt; font-family: min; color: #615e5f; position: relative;
    text-decoration: none; }

body {
        background-color: #f0eee9
    } 

.logo {    
    position: relative;
    width: 50%;
    bottom: -1190px;
    right: -511px;
}

.logo2 {    
        position: relative;
    width: 41%;
    bottom: -1189px;
    right: 186px;
}

.logo3 {    
            position: relative;
    width: 10%;
    bottom: -1079px;
    right: -186px;
}

#lh {    font-size: 100px;
    color: #ddbf5e;
    position: relative;
    top: 482px;   
    left: -64px; }

#mm {position: relative;
    bottom: -460px;
    max-width: 100%;
    left:-40px;
}

.type
 {position: absolute; top: -500px; padding-left: 10%;}

 .line {
    background: #615e5f;
    height: 10px;
    position: relative;
    top:  314px;


}



</style>

<center>


<br>
<div class="type">
<a href="#/login"> <h1 id="lh">Forage</h1>



 <p id="mm" >Find Your Inner Chef</p></center>
</div>
<div class="line"></div>
    <img class="logo" src="./logo/shoom4z.png"></img></a>
    <img class="logo2" src="./logo/sh14.png"></img></a>
    <img class="logo3" src="./logo/shroom12.png"></img></a>
