<style>

    @font-face {
    font-family: min;
    src: url("./MinionPro-Regular.otf") format("opentype");
    }

    @font-face {
    font-family: cool;
    src: url("./coolvetica rg.ttf") format("opentype");
    }

    h1 {font-size: 40pt; font-family: cool; color: #615e5f; position: relative;
         max-width: 90%;}

    p {font-size: 30pt;
        font-family: min;
        color: #615e5f;
        position: relative;
        max-width: 90%;
        text-align: center;
        top: 500px;
    }   

    .logo {position: relative;
        width: 13%;
        top: 397px;
        left: 350px;}

    .logo2 {position: relative;
            top: 861px;
        width: 10%;
        right: -230px;}

    .logo7 {    position: relative;
        top: 81px;
        width: 12%;
        right: 277px;}

    .logo9 {    position: relative;
        top: 59px;
        width: 13%;
        right: 508px;}

    form {
        position: relative; 
        top: 350px; 
    }

    #text5
    {
    background: #f0eee9;
    color: #2e1b10;
    width:85%;
    height: 60px;
    padding: 6px 15px 6px 35px;
    border-radius: 10px;
    box-shadow: 0 1px 0 #ccc inset;
    transition:500ms all ease;
    }


    button {
        right: -135px;
        position: relative; 
        top: 500px;
    }

    #ratch {position: relative; top: -30px; color: #fff;}

</style>

<div class="login-page">
    <center>
    <img class="logo" src="./logo/shroom12.png"></img>

    <form action="/form" method="POST">
    <br>

      <input id="text5" type="text"  name="username" onfocus="if (this.value=='Username') this.value = ''" type="text" value="alex.richardson-@live.co.uk"></imput><br>

      <input id="text5" type="password" name="password" onfocus="if (this.value=='Password') this.value = ''" type="password" value="Password"></imput>



    </form>
    <br><center>
    <a href="#cookies"><button type="submit" value="MAKE A POST REQUEST">Login</button></a>

    <img class="logo7" src="./logo/sh13.png"></img><img class="logo9" src="./logo/shoom4.png"></img>

    <a href="#/about"><p>About Forage</p></a>
    <p>Created by <a href="www.maverickmedia.org.uk">Maverick Media</a></p>
    <img class="logo2" src="./logo/sh69.png"></img>
    <img class="logo2" src="./logo/shroom5.png"></img>


    </center>
</center>
</div>