

<div class="login-page">
   

<center>

<img class="logo4545456" src="./logo/shroom12.png"></img>

<form class="form1000" action="/form" method="POST">
<br>

  <input class="input1000" id="text555" type="text"  name="username" onfocus="if (this.value=='Username') this.value = ''" type="text" value="alex.richardson-@live.co.uk"></imput><br>

  <input class="input1000" id="text555" type="password" name="password" onfocus="if (this.value=='Password') this.value = ''" type="password" value="Password"></imput>



</form>
<br>
<a href="#cookies"><button class="button10000"type="submit" value="MAKE A POST REQUEST">Login</button></a>

<img class="logo7454545" src="./logo/sh13.png"></img><img class="logo9454545" src="./logo/shoom4.png"></img>

 <a href="#/about"><p class="texxxxx">About Forage</p></a>
<p class="texxxxx">Created by <a href="www.maverickmedia.org.uk">Maverick Media</a></p>
<img class="logo2454545" src="./logo/shroom12.png"></img>

</center>

</div>


