<div class="recipe-page" ng-if="currentRecepie">
    <ng-include src="'./templates/headerBar.html'"></ng-include>

      <img class="imgic238" ng-src="{{currentRecepie.img}}"><br>

      <div class="hizz">
          <img class="share2" src="./img/share.png">
          <img class="share1" src="./img/add2.png">

              <center>
                  <p class="typeic">{{ currentRecepie.name }}</p>
                  <p class="typeic2">Ingredience:</p>
                  <p class="typeic3">{{ currentRecepie.ingredients }}</p>
                  <p class=""><a href="#/user?username=jamie_oliver">Jamie Oliver</p>
                  <img class="cookr" src="./logo/sh69.png">
              </center>

      </div>
</div>