
  <div class="tools-page"> 
<ng-include src="'./templates/menuPanel.html'"></ng-include>



  <center>
  <br><br><br>
  <img class="logo690" src="./img/search.png" >

    <img class="logo6903" src="./img/x.png" onclick="closeMenu()">
   </center>
  <h1 class="title455">Menu</h1>
  <center>
  <hr id="lin3333">

  
  <h1 class="bringToTop menu-title45">Recipe</h1>

  <p class="text6978069">
  <a href="add.html">Add Recipe<br></a>
  <a href="cookies.html">Popular Dishes<br><a>
  <a href="duk.html">Tips & Tricks<br></a>
  <br><br>
  <h1 class="menu-title45">Profile</h1>

  <p class="text6978069">
  <a href="set.html">Cookbook<br></a>
  Recently Viewed<br>
 <a href="set.html"> My Profile<br></a>
  <br><br>
  <h1 class="menu-title45">Forage</h1>

  <p class="text6978069">
    <a href="rate.html">Rating System</a><br>
  <a href="about.html">About<br><a>
  <a href="index.html">Log Out</a>
<br>
  <img class="mush"src="./logo/sha.png">
  <br><br><br>


</div>