
  <ng-include src="'./templates/headerBar.html'"></ng-include>

<div class="line291"></div>



<div class="icon139" >
<img class="imgic" src="./img/pp.png">
<h1 class="type1">Diced.Mango</h1>
<img class="edit" src="./img/edit.png">
<p class="type2">When I am not baking I like to take influence from different cultures and fuse them in my cooking. I like to cook... <br><br>
<br>

</div>
<br>

<center>
<h1 >Cookbook<br><br></h1>

  <img src="http://cdn.jamieoliver.com/recipe-database/430_575/87_mwwAHqdf8uc2sFugLXC.jpg"></center>
<br><br>
<p class="eb">Eggs Benedict<br>
</center>
<br>
<div id="icon5">
<p class="bd"><br>Recipes Submitted: 7<br><br>
Recipes Rated: 5<br><br>
Best Recipe: Peeking Duck<br><br>
Most Used Ingredient: Foie Gras<br><br></div>

<a href="add.html">
  <h1 class="ad"><br>
  <font color="#ddbf5e">+ Add Recipie</h1>
  </font>
</a>

<img class="logo69" src="./logo/sh14.png"></img>

</center>
