/* New Css*/



body {
    background-color: #faf7f2;
}

.body2 {background-color: #eaefea; width: 100%;}


.body3 {background-color: #46454d; width: 100%;}



/*fonts*/



@font-face {
    font-family: min;
    src: url("./LinLibertine_aDRS.ttf") format("opentype");
}


@font-face {
    font-family: aron;
    src: url("./aron_grotesque_regular.ttf") format("opentype");
}


@font-face {
    font-family: cool;
    
    src: url("./aron_grotesque_regular.ttf") format("opentype");
}


h1       {
          font-family: aron;
        
          
          }

h2       {
          font-family: aron;
         
          
          }

.no-caps {text-transform: none; padding-left: 50px; width: 90%; font-size: 15px;}


p {

    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 25px;
}


a {
    text-decoration: none;
}

/*Index*/


.title-index {position: absolute; top: 20px; left: 20px;}


.index-background {background: url(./img2/chopping.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    height: 1750px;


} 


.title-position {position: absolute; bottom: 120px; width: 200px; left: 50px;  color: #476a30; font-size: 100px; }


.title-position2 {position: absolute; bottom: 50px; width: 200px; left: 53px; color: #4a494e; font-size: 60px; }







/* Login */

.input-position {position: absolute; left: -0px; width: 80%;}


/* Input */






.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top;
top: 150px;
left: 35%;

}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
 font-family: aron!important;
  -webkit-appearance: none; /* for box shadows to show on iOS */
  font-size: 60px;
}




.input__field:focus {
  outline: none;
}

.input__label {
  font-family: aron!important;
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 60px;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;

}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}


.input--chisato {
  padding-top: 1em;
}

.input__field--chisato {
  width: 190%;
  padding: 0.8em 0.5em;
  background: transparent;
  border: 5px solid;
  color: #476a30;
   height: 10px;
 
}




.input__label--chisato {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: left;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  -webkit-transform: translate3d(0, 3em, 0);
  transform: translate3d(0, 3em, 0);
}

.input__label-content--chisato {

  font-weight: 400;
  color: #e7e3d8;
  font-family: aron!important;
  font-weight: bold;
  position: relative;

}

.input__label-content--chisato::after {
  content: attr(data-content);
  position: absolute;
  top: -210%;
  left: 80px;
  color: #46454d;
  font-weight: 800;
  font-size: 40px;
  z-index: 99;
  height: 300px;


 
}

.input__field--chisato:focus,
.input--filled .input__field--chisato {
  border-color: #476a30;
}

.input__field--chisato:focus + .input__label--chisato,
.input--filled .input__label--chisato {
  -webkit-animation: anim-chisato-1 0.25s forwards;
  animation: anim-chisato-1 0.25s forwards;
}

.input__field--chisato:focus + .input__label--chisato .input__label-content--chisato,
.input--filled .input__label-content--chisato {
  -webkit-animation: anim-chisato-2 0.25s forwards ease-in;
  animation: anim-chisato-2 0.25s forwards ease-in;
}

@-webkit-keyframes anim-chisato-1 {
  0%, 70% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  71%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes anim-chisato-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70%, 71% {
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    color: transparent;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
}

@keyframes anim-chisato-1 {
  0%, 70% {
    -webkit-transform: translate3d(0, 3em, 0);
    transform: translate3d(0, 3em, 0);
  }
  71%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes anim-chisato-2 {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70%, 71% {
    -webkit-transform: translate3d(0, 125%, 0);
    transform: translate3d(0, 125%, 0);
    opacity: 0;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    color: transparent;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }
}







/* Main*/




/* Header*/



#header {
    
    height: 170px;

}

#header-position {

    position: fixed;
}


.title-main1 { position: absolute;
    top: 50px;
    left: 5%;
    color: #838488;
    text-align: center;
     font-size: 40px;}


/*Iconsr*/

.hamburger {     
    z-index: 3;
    width: 11%;
    position: absolute;
    top: 40px;
    right: 25px;

}


.hamburger2 {    width: 10%;
    position: absolute;
    top: 45px;
    left: 50px;
    z-index: 3;}

.hamburger3 {    width: 7%;
    position: absolute;
    top: 54px;
    right: 50px;
    z-index: 3;
}




/*Hamburger*/




/*Menu*/



.menu-title {color: #f0e1ce!important;  position: relative; left: 50px; line-height: 250px; top: 100px; text-align: left; font-size: 60px; z-index: 3;} 











/* Timeline */

.pattern {position: fixed; z-index:0; width: 100%; height: 100%;}



.timeline-img {
    position: relative;
    width: 90%;
        top: 0px;
        z-index: 0;
}


.add-cookbook {
    position: relative;
    width: 8%;
    left: 45%;
    top: -100px;
    z-index:2 ;
 
}


.share-rec {
   position: relative;
    width: 8%;
    right: 43%;
    top: -100px;
     z-index:2 ;
 
}



.title-dish {

color: #838488;
    position: relative;
    max-width: 90%;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    text-transform: capitalize;

}


.description {
    font-size: 12px;
    position: relative;
    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
}

.description2 {
    font-size: 12px;
    position: relative;
    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
    font-style: italic;
}



.mushroom-rating{
    position: relative;
    width: 15%;
    left: 35%;
    top: 15px;

}


.timeline-line{
 
    width: 100%;
    height: 5px;
    background-color: #838488;
   

}


.rec-timeline:nth-child(1n) {
background:  #f0e5ed;
}
.rec-timeline:nth-child(2n) {
background:  #eaefea;
}
.rec-timeline:nth-child(3n) {
background:  #faf7f2;
}








/* Add */




.add-title

{
color: #838488;
    position: relative;
    max-width: 90%;
    text-align: center;
    line-height: 80px;
    font-size: 60px;
    text-transform: capitalize;
    width: 90%;
    padding-top: 100px;
    background-color: transparent;
    border: transparent;
     z-index:2 ;
}

.add-photo { 



    position: relative;
    width: 15%!important;
         z-index:2 ;




}

.add-ingre { font-size: 40px;
    position: relative;
    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
    background-color: transparent;
    border: transparent;
     z-index:2 ;

}

.submit { font-size: 40px;
    position: relative;
    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
    background-color: transparent;
    border: transparent;
     z-index:2 ;

}


.image-upload > input {
    display: none;
    font-size: 35px;
    color: #8a7560;
    font-family: min;
    z-index:2 ;
}






/* About*/


.about-shroom {

position: relative;
    top: 180px;
    left: 700px;
}




/* Profile */


.pp {position: relative; width: 30%; border-radius: 1000px;}


.user-name {color: #838488; font-size: 40px; padding-top: 100px;}


.title-28 {color: #838488; font-size: 40px; padding-top: 100px;}

.title-29 {color: #af8c90; font-size: 20px; padding-top: 100px;}

.title-30 {color: #6a6d52; font-size: 20px; padding-top: 100px;}

.title-31 {color: #838488; font-size: 20px; padding-top: 100px; padding-left: 100px;}

.rec-img {width: 90%;}

.pd {text-transform: none; }


.profile-colour1  {background-color: #f0e5ed; width: 100%;}
.profile-colour2  {background-color: #eaefea; width: 100%;}


.profile-shroom {
    position: relative;
    width: 30%; top: 15px;
    
}


.add-rec {color: #6a6d52;}






/* Profile */


.duk {color: #af8c90; padding-left: 50px; position: relative;top: -20px;}


.duk2 {padding-left: 50px;}


.duk3 {padding-left: 50px; font-style: italic;}






