/* New Css*/



body {
    background-color: #faf7f2;
}

.body2 {background-color: #d8e2d8; width: 100%;}


.body3 {background-color: #46454d; width: 100%;}



/*fonts*/



@font-face {
    font-family: min;
    src: url("./LinLibertine_aDRS.ttf") format("opentype");
}


@font-face {
    font-family: aron;
    src: url("./aron_grotesque_regular.ttf") format("opentype");
}


@font-face {
    font-family: cool;
    
    src: url("./aron_grotesque_regular.ttf") format("opentype");
}


h1       {
          font-family: aron;
          z-index: 2;
        
          
          }

h2       {
          font-family: aron;
         
            z-index: 2;
        
          }

.no-caps {text-transform: none; padding-left: 50px; width: 90%; font-size: 15px;}


p {  z-index: 2;
        

    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 25px;
}


a {
    text-decoration: none!important;
}

/*Index*/


.title-index {position: absolute; top: 20px; left: 20px;}



.index-background {background: url(./img2/chopping.jpg);
    background-size: 100% ;
    background-repeat: no-repeat;
    height: 1750px;



} 


.title-position {position: absolute; bottom: 120px; width: 200px; left: 50px;  color: #6a6d52; font-size: 100px; }


.title-position2 {position: absolute; bottom: 50px; width: 200px; left: 53px; color: #4a494e; font-size: 60px; }







/* Login */

.login-page-background {background-color: #4463a1 ;width: 100%; height: 1800px;
}


/* Input */




.size-position {width: 80%; height: 50px; font-size: 30px;}


.size-position2 {width: 80%; height: 50px; font-size: 30px; color: #ffffff;}



.login-form { 

    & input[type="email"], input[type="password"],  {
    
        border: 1px solid #314d89;
        outline: none;
        padding: 12px 20px;
        color: #afafaf;
        font-weight: 400;
      font-family: 'Lato', sans-serif;
    cursor:pointer;
    }

    & input[type="email"] {
        border-bottom: none; 
        border-radius: 4px 4px 0 0;
        padding-bottom: 13px;
        box-shadow: 0 -1px 0 #E0E0E0 inset,
                    0 1px 2px rgba(0, 0, 0, 0.23) inset;
    }

    & input[type="password"] {
        border-top: none; 
        border-radius: 0 0 4px 4px;
        box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.23) inset,
                    0 1px 2px rgba(255, 255, 255, 0.1);
    }

    & input[type="submit"] {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
        background: rgb(224,224,224);
        background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(206,206,206,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(206,206,206,1)));
        background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(206,206,206,1) 100%);
        background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(206,206,206,1) 100%);
        background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(206,206,206,1) 100%);
        background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(206,206,206,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#cecece',GradientType=0 );
        display: block;
        margin: 20px auto 0 auto;
        width: 100%;
        border: none;
        border-radius: 3px;
        padding: 8px;
        font-size: 17px;
        color: #636363;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
        font-weight: 700;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.17),
                    0 1px 0 rgba(255, 255, 255, 0.36) inset;
    &:hover {
      background:#DDD; 
    }
    &:active {
      padding-top: 9px;
      padding-bottom: 7px;
      background:#C9C9C9; 
    }
    }
}



/* Header*/



#header {
    
    height: 170px;

}

#header-position {

    position: fixed;
}


.title-main1 { position: absolute;
    top: 50px;
    left: 5%;
    color: #838488;
    text-align: center;
     font-size: 40px;}


/*Iconsr*/

.hamburger {     
    z-index: 3;
    width: 11%;
    position: absolute;
    top: 40px;
    right: 25px;

}


.hamburger2 {    width: 10%;
    position: absolute;
    top: 45px;
    left: 50px;
    z-index: 3;}

.hamburger3 {    width: 7%;
    position: absolute;
    top: 54px;
    right: 50px;
    z-index: 3;
}



/* Timeline */

.pattern {position: fixed; z-index:1; width: 100%; height: 100%;}



.timeline-img {
    position: relative;
    width: 90%;
        top: 0px;
        z-index: 0;
}


.add-cookbook {
    position: relative;
    width: 8%;
    left: 45%;
    top: -100px;
    z-index:2 ;
 
}


.share-rec {
   position: relative;
    width: 8%;
    right: 43%;
    top: -100px;
     z-index:2 ;
 
}



.title-dish{

color: #46454d;
    position: relative;
    max-width: 90%;
    text-align: center;
    line-height: 80px;
    font-size: 20px;
    text-transform: uppercase;

}


.description {
    font-size: 12px;
    position: relative;
    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
}

.description2 {
    font-size: 12px;
    position: relative;
    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
    font-style: bold;
    text-decoration: underline;
       
}

.description3 {
    font-size: 12px;
    position: relative;
    text-align: left;
    color: #af8c90;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
    font-style: italic;
}



.username {color: #46454d;
    position: relative;
    max-width: 90%;
    text-align: left;
    line-height: 80px;
    font-size: 12px;
    text-transform: capitalize;
    }

.mushroom-rating{
    position: relative;
    width: 15%;
    left: 35%;
    top: 15px;
    z-index: 2;

}


.timeline-line{
 
    width: 100%;
    height: 5px;
    background-color: #838488;
   

}


.rec-timeline:nth-child(1n) {
background:  #f0e5ed;
}
.rec-timeline:nth-child(2n) {
background:  #d8e2d8;
}
.rec-timeline:nth-child(3n) {
background:  #faf7f2;
}







/* Add */

.file-input77 {  

    font-size: 0pt!important;
    position: relative;
    top: -120px;
    left: -60px;
    width: 15%;
    height: 100px;
    z-index: 9;

  }


.add-title

{
color: #838488;
    position: relative;
    max-width: 90%;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    text-transform: capitalize;
    width: 90%;
    padding-top: 100px;
    background-color: transparent;
    border: transparent;
     z-index:2 ;
}

.add-photo { 


position: relative;
    width: 15%!important;
    z-index: 2;
    right: -90px



}

.add-ingre { font-size: 40px;
    position: relative;
    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
    background-color: transparent;
    border: transparent;
     z-index:2 ;

}

.submit { font-size: 40px;
    position: relative;
    text-align: left;
    color: #46454d;
    font-family: min;
    width: 90%;
    font-weight: normal;
    text-transform: capitalize;
    background-color: transparent;
    border: transparent;
     z-index:2 ;

}


.image-upload > input {
    display: none;
    font-size: 35px;
    color: #8a7560;
    font-family: min;
    z-index:2 ;
}






/* About*/


.about-shroom {

position: relative;
    top: 180px;
    left: 700px;
}




/* Profile */


.pp {position: relative; width: 30%; border-radius: 1000px; z-index: 2;}


.user-name {color: #6a6d52; font-size: 60px; padding-top: 100px; z-index: 3;}


.title-28 {color: #838488; font-size: 40px; padding-top: 100px; z-index: 2; text-transform: capitalize;}

.title-29 {color: #af8c90; font-size: 20px; padding-top: 100px; z-index: 2;}

.title-30 {color: #6a6d52; font-size: 20px; padding-top: 100px; z-index: 2;}

.title-31 {color: #838488; font-size: 20px; padding-top: 100px; padding-left: 100px; z-index: 2;}

.rec-img {width: 90%;}

.pd {text-transform: none;  z-index: 2; z-index: 2;}


.profile-colour1  {background-color: #f0e5ed; width: 100%;}
.profile-colour2  {background-color: #eaefea; width: 100%;}


.profile-shroom {
    position: relative;
    width: 30%; top: 15px;
    
}


.add-rec {color: #6a6d52; z-index: 2;}






/* Did You Know */


.duk {color: #af8c90; padding-left: 50px; position: absolute;top: 50px; font-size: 50px;}


.duk2 {padding-left: 50px; text-transform: none; }


.duk3 {padding-left: 50px; font-style: italic; }

.duk-shroom {width: 40%; position: absolute; bottom: 0px; right: 50px;}



/*Hamburger*/





/* Menu */




.menu-title {color: #f0e1ce!important;  position: relative; left: 50px; line-height: 250px; top: 100px; text-align: left; font-size: 60px; z-index: 3; text-decoration: none;} 



// reset
body {
  margin: 10px;
  text-align: center;
  font-size: 13px;
}

// style
.search-box {
  position: relative;
  display: inline-block;
  border: 2px solid #000;
  border-radius: 20px;
 
  input[type="text"] {
    -webkit-appearance: none;
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 5px;
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: none;
    z-index: 1;
    transition: all 0.5s ease-out 0.5s;
    outline: none;
 
    &:focus {
      width: 280px;
      height: 30px;
      margin-right: 20px;
      transition: all 0.5s ease-out 0s;
      
      & + span {     
        &::before {
          height: 14px;
          margin: -22px 0 0 -15px;
          transition: all 0.2s ease-out 0.5s;
        }
        
        &::after {
          visibility: visible;
          margin: -22px 0 0 -15px;
          transition: all 0.2s ease-out 0.7s;
        }
      }
    }
  }
 
  span {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 10;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 2px;
      height: 8px;
      margin: -4px 0 0 0;
      background-color: #000;
      transform: rotate(-45deg);
      transition: all 0.2s ease-out 0.2s;
    }

    &::after {
      content: '';
      visibility: hidden;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 2px;
      height: 14px;
      margin: -36px 0 0 5px;
      background-color: #000;
      transform: rotate(45deg);
      transition: all 0.2s ease-out 0s;
    }
  }
}