*{
	margin: 0px;
	padding: 0px;
}

*, :active{
	outline: none!important;
}

body{
	font-family: arial, sans-serif;
	padding: 40px;
	font-size: 100%;
}

.clearfix{
	clear: both;
}

input{
	    background-color: transparent;
	border: none;
	font-size: 16px;
	padding: 10px 0px 10px 0px;
}


.expandSearch,
.expandSearch input,
.expandSearch a{
	float: left;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.expandSearch{
	border: solid 3px transparent;
    margin-top: 200px;
    width: 400px;
}

.expandSearch input{
	height: 22px;
	overflow: hidden;
	width: 0px;
	opacity: 0;
}

.expandSearch a{
	display: block;
	padding: 12px 15px 8px 15px;
	  background-color: #f0e1ce;
}

.showSearch input{
margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    opacity: 1;
    height: 60px;
}

.showSearch a{
	    background-color: #f0e1ce;

}

.showSearch{
	    border-color: #f0e1ce;
}